{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-center pt-5">Mini URL Maker</h1>
    <hr>
    <div class="row justify-content-center">
        <div class="card col-sm-4 bg-secondary text-white">
            <div class="card-body">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        {{ form }}
                        <div class="input-group-append">
                            <input type="submit" value="Submit" class="btn btn-info">
                        </div>
                    </div>
                </form>
                {% if messages %}
                <div class="messages">
                    <h5>Your mini URL is:</h5>
                    {% for message in messages %}
                    <div  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}